# IDE specific
/.idea/
/*.iml

# IDE specific
/.settings/
/.project

# Node.js specific
/**/node_modules/
/**/package-lock.json

# Build specific
/release/*.zip
/release/*source*.js
/release/*debug*.js
/test/aspect-js.js
