#menu .w3-bar {
  height: 3.65em;
}
#menu .w3-dropdown-hover span,
#menu .w3-dropdown-hover span:hover {
  background: #FFF!important;
}
#menu .w3-dropdown-content {
  min-width: 132px;
  top: 47px;
}