#materials th,
#materials td {
  text-align: right;
}
#materials th:first-child,
#materials td:first-child {
  text-align: left;
}
#materials th + th,
#materials td + td {
  padding-left: 20px;
  padding-right:20px; 
}
#materials table th a[href] {
  text-decoration: none;
}
#materials table.sorted tbody tr:nth-child(1) td {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 16px 16px;
}
#materials table.sorted.id tbody tr:nth-child(1) td:nth-child(1) {
  background-position: left top;
}
#materials table.sorted.ascending.id tbody tr:nth-child(1) td:nth-child(1),
#materials table.sorted.ascending.density tbody tr:nth-child(1) td:nth-child(2),
#materials table.sorted.ascending.pei tbody tr:nth-child(1) td:nth-child(3),
#materials table.sorted.ascending.pei_1 tbody tr:nth-child(1) td:nth-child(3),
#materials table.sorted.ascending.pei tbody tr:nth-child(1) td:nth-child(4),
#materials table.sorted.ascending.pei_2 tbody tr:nth-child(1) td:nth-child(4),
#materials table.sorted.ascending.tc tbody tr:nth-child(1) td:nth-child(5),
#materials table.sorted.ascending.drf tbody tr:nth-child(1) td:nth-child(6) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABmJLR0QA/wD/AP+gvaeTAAABJElEQVRIie2Nr0pEURCHvzn4AlaDryDcOSeKsJgE2aBli0EQBIPRl/ARbAZtBosYNFiEe3bBZjDZFIsg4t8zlr2yXHb37upa5H5pmPnN74OampoqpBjyPG+JyOykis3sNoRwADBVLJ1zuZntAjMTcNyLyMJ3dzGo6o2ZNYC7XwoeUkoN7/11sZByotPpzKWUzoHpHwgenXOLWZbF3qUrp7IsuxKRJeBpTMGziCyXBX0lAKp6KSJN4GVEwZuIrKjqRb9jX0lXdAY0gdcKwbuIrKrqyaDAQAmA9/5URFrAx4DIp5mtqerxsJ6hEgBVPTKzdSCVTgZshhAOqzoqJQAhhH0z2+gWF4It7/3eKP9jEWPcjjFajHFn4uW9tNvt+T8V1PwfvgBL01Z2c/WxewAAAABJRU5ErkJggg==');
}
#materials table.sorted.descending.id tbody tr:nth-child(1) td:nth-child(1),
#materials table.sorted.descending.density tbody tr:nth-child(1) td:nth-child(2),
#materials table.sorted.descending.pei tbody tr:nth-child(1) td:nth-child(3),
#materials table.sorted.descending.pei_1 tbody tr:nth-child(1) td:nth-child(3),
#materials table.sorted.descending.pei tbody tr:nth-child(1) td:nth-child(4),
#materials table.sorted.descending.pei_2 tbody tr:nth-child(1) td:nth-child(4),
#materials table.sorted.descending.tc tbody tr:nth-child(1) td:nth-child(5),
#materials table.sorted.descending.drf tbody tr:nth-child(1) td:nth-child(6) {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAIAAABLixI0AAAABmJLR0QA/wD/AP+gvaeTAAAA2klEQVQ4je3Uu46FIBCAYc5mC3vf/8FkwHiJiVE0CioYhdmCxJzrnsu6nX9DpvmqGU6ISHbqay/osP7HGoZhH6uqqiiKyrL8qyWEyPOcEFIURV3Xn1tN06Rpuo1ZlgkhPrG6rjuHNq5t2/csKWUcx7fnhYhJkvR9/6qllOKcP7pTROScSymfW+M4Msacc3ehc+52US4srTUA/A75nHOMsWma7lvGGACw1j6FfNZaANBaX1vzPFNKl2V5EfKt60opNcb48ds/UsowDN+CtpRSQRAQQk7Hv3pYV/0AE7qcwLfgV1cAAAAASUVORK5CYII=');
}