#spinner\@ui {
  display: none;
}
#spinner\@ui[enabled] {
  display: block;
}

#spinner\@ui[enabled]:before {
  content: '';
  background: #000000;
  display: block;
  height: 100%;
  left: 0px;
  opacity: 0.50;
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 65534;
  animation: spinner-fadeIn  ease 0.5s;
}
@keyframes spinner-fadeIn {
  0%   {opacity:0;}
  100% {opacity:0.50;}
}

#spinner\@ui[enabled]:after {
  content: '';
  background: #FF9000;
  border-radius: 50%;
  display: block;
  height: 50px;
  left: 50%;
  top: 50%;
  position: fixed;
  width: 50px;
  z-index: 65535;
  animation: spinner-fading 1s ease-in infinite;
}
@keyframes spinner-fading {
  0% {transform:scale(0); opacity:1;}
  100% {transform:scale(1); opacity:0;}
}